/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Ephesis&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Customisation */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
}

/* Default font for the document */
.container {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header {
  background-image: url("../img/bg.jpg");
  background-size: cover;
  height: 100vh;
  background-position: center;
  overflow: hidden;
}
#header h1, #header nav {
  width: 100%;
}
@media all and (min-width: 992px) {
  #header h1, #header nav {
    width: 50%;
  }
}
#header__nav {
  background-color: rgba(0, 0, 0, 0.2117647059);
  color: #fff;
  text-align: center;
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media all and (min-width: 992px) {
  #header__nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
#header__nav h1 a {
  font-family: "Ephesis", cursive;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
}
#header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
}
#header__nav li + li {
  margin-left: 0.5rem;
}
#header__nav li:last-child a {
  border-color: #fff !important;
}
#header__nav a {
  font-size: 1rem;
  border-radius: 2rem;
  border-style: solid;
  border-width: 0.1rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  border-color: transparent; /* necessary to align all the links in the navbar */
  padding: 0.5rem;
}
@media all and (min-width: 768px) {
  #header__nav a {
    padding: 0.5rem 1rem;
  }
}
#header__nav a:hover, #header__nav a:focus, #header__nav a:active {
  background-color: #7bafc9;
}
#header__intro {
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.2117647059);
  color: #fff;
  text-align: center;
  text-shadow: 0px -1px #000, 1px 0px #000, 0px 1px #000, -1px 0px #000;
}
@media all and (min-width: 768px) {
  #header__intro {
    text-shadow: none;
  }
}
#header__intro h2, #header__intro h3 {
  padding: 0.5rem 0;
}
#header__intro h2 {
  font-family: "Ephesis", cursive;
  font-size: 4rem;
}
#header__intro h3 {
  font-size: 1rem;
}

#main {
  background-color: #fff;
}
#main__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  font-weight: bold;
  color: #7bafc9;
  background-color: #c1d2d9;
}
#main__intro button {
  padding: 0.2rem;
  width: 2rem;
  height: 2rem;
  margin: 0.5rem 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background-color: #c1d2d9;
  border-color: transparent;
  border-width: 0.1rem;
  border-style: solid;
  border-radius: 50%;
}
#main__intro button:hover {
  cursor: pointer;
  border-color: #fff;
}
#main__intro button:hover svg {
  fill: #fff;
}
#main__intro button svg {
  margin: 0;
  border-radius: 50%;
  fill: #7bafc9;
  background-color: #c1d2d9;
  width: 100%;
  height: 100%;
}
#main__cards {
  width: 100%;
  margin: 0 auto;
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media all and (min-width: 992px) {
  #main__cards {
    width: 75%;
  }
}
#main__cards .card__wrap {
  padding: 2rem;
  width: 100%;
}
@media all and (min-width: 768px) {
  #main__cards .card__wrap {
    width: 50%;
  }
}
@media all and (min-width: 992px) {
  #main__cards .card__wrap {
    width: 33%;
  }
}
#main__cards .card__wrap:last-of-type {
  display: block;
}
@media all and (min-width: 768px) {
  #main__cards .card__wrap:last-of-type {
    display: none; /* Hides the last card so it remains 2-cards-per-row according to the mockup */
  }
}
@media all and (min-width: 992px) {
  #main__cards .card__wrap:last-of-type {
    display: block;
  }
}
#main__cards .card__block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #9b9b9b;
}
#main__cards .card__text {
  position: relative;
  padding: 1rem;
}
#main__cards .card__title {
  color: #5e5e5e;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 0;
}
#main__cards .card__desc {
  color: #9b9b9b;
}
#main__cards .card__pic {
  position: relative;
  width: 100%;
}
#main__cards .card__img {
  width: 100%;
  display: block;
}
#main__cards .card__price {
  background-color: #fff;
  color: #000;
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 0.5rem;
}
#main__end {
  padding-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#main__end button {
  padding: 0.5rem;
  font-size: 1rem;
  color: #7bafc9;
  background-color: #fff;
  border-radius: 2rem;
  border-width: 0.1rem;
  border-style: solid;
  border-color: #7bafc9;
  text-align: center;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
#main__end button:hover {
  color: #fff;
  background-color: #7bafc9;
  cursor: pointer;
}

#footer {
  background-color: #7bafc9;
  color: #fff;
}
#footer__wrap {
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
}
@media all and (min-width: 992px) {
  #footer__wrap {
    width: 75%;
  }
  #footer__wrap div:first-of-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
#footer__sitemap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-align: center;
}
@media all and (min-width: 768px) {
  #footer__sitemap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-align: left;
  }
}
@media all and (min-width: 992px) {
  #footer__sitemap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 50%;
    padding: 0 2rem;
  }
}
#footer__sitemap ul {
  padding: 2rem;
}
@media all and (min-width: 768px) {
  #footer__sitemap ul {
    padding: 0;
  }
}
#footer__sitemap li {
  padding: 1rem 0;
}
#footer__sitemap a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  color: #fff;
}
#footer__sitemap a:hover, #footer__sitemap a:focus, #footer__sitemap a:active {
  color: #ffa500;
}
#footer__social {
  width: 100%;
}
@media all and (min-width: 992px) {
  #footer__social {
    width: 50%;
  }
}
#footer__social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  margin: 0 auto;
  padding: 1rem;
}
@media all and (min-width: 992px) {
  #footer__social ul {
    margin: 0;
  }
}
#footer__social a {
  fill: #fff;
}
#footer__social a:hover, #footer__social a:focus, #footer__social a:active {
  fill: #ffa500;
}
#footer__social svg {
  width: 1.5rem;
  height: 1.5rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
#footer__social p {
  text-align: justify;
  padding: 1rem;
  font-size: 0.9rem;
  line-height: 1.3rem;
}
#footer__copyright {
  text-align: center;
  padding: 1rem;
  font-size: 0.8rem;
  line-height: 1.4rem;
  border-top: 2px solid #fff;
}